.board {
    width: 400px;
    margin: auto;
    
}

.info {
    width: 400px;
    margin: auto;
    font-family: "myfont";
    color: #ffffff;
}

.move-history {
    max-height: 100px;
    overflow-y: scroll;
    font-family: "myfont";
    color: #ffffff;
}



p  {
    font-family: "myfont";
    color: #ffffff;
}


h1 {
    color: #ffffff;
    font-family: "myfont";
}




#top, #bottom, #left, #right {
        background: #0e2a62;
        position: fixed;
        }
        #left, #right {
                top: 0; bottom: 0;
                width: 5px;
                }
                #left { left: 0; }
                #right { right: 0; }

        #top, #bottom {
                left: 0; right: 0;
                height: 5px;
                }
                #top { top: 0; }
                #bottom { bottom: 0; }


.button {
    background-color: #a1db00;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
}


.button {
    background-color: white;
    color: black;
    border: 2px solid #555555;
}

.button:hover {
    background-color: #63228a;
    color: white;
}




* {box-sizing:border-box}
body {font-family: "myfont";}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-family: "myfont";
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-family: "myfont";
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}



.active {
  background-color: #63228a;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

body {margin:0;}
ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #63228a;
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: inline-block;
  color: white;
  font-family: "myfont";
  text-align: "center";
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 20px;
}

ul.topnav li a:hover {background-color: #5959AB;}

ul.topnav li.icon {display: none;}

@media screen and (max-width:680px) {
  ul.topnav li:not(:first-child) {display: none;}
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }
}

@media screen and (max-width:680px) {
  ul.topnav.responsive {position: relative;}
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }
}


@media (device-height: 568px) and (height: 529px),
(device-height: 480px) and (height: 441px) {
/* minimal-ui is active */
}

.alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}


.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   color: white;
   text-align: center;
}

.digital-clock  {
       font-family: "myfont";
    color: #ffffff;

}